@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-color: rgb(220, 38, 38);
    --fill-color: rgb(220, 38, 38);
    --fill-color-indicator: rgb(255, 255, 255;);
  }
}
.border {
  border: 1px solid black;
}
