@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color: #424c55;
    --color-shade-1: #d6d6d6;
    --brand-color: #568aed;
    --background-color: #ffffff;
    --border-radius: 4px;
    --font-size: 14px;
    --item-height: 44px;
    --headline1-font-size: 38px;
    --headline1-font-weight: 600;
    --container-padding: 40px;
    --container-max-width: 410px;
  }
  hanko-auth {
    --background-color: #ffffff;
    --border-radius: 7px;
  }
  hanko-profile {
    --container-padding: 30px;
    --container-max-width: 500px;
  }
  .theme-indigo {
    --text-color: #138086;
    --fill-color: #138086;
    --fill-color-gradient: bg-gradient-to-r from-[#48237f]via-purple-500
      to-pink-500;
  }
  .theme-green {
    --text-color: #17c964;
    --fill-color: #17c964;
  }
  .theme-yellow {
    --text-color: #f5a524;
    --fill-color: #f5a524;
  }
}
.border {
  border: 1px solid black;
}

.textarea::webkit-scrollbar {
  width: 0px;
}
