@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-color: #138086;
    --fill-color: #138086;
    --fill-color-gradient: bg-gradient-to-r from-[#48237f]via-purple-500
      to-pink-500;
  }

  .theme-green {
    --text-color: #17c964;
    --fill-color: #17c964;
  }
  .theme-yellow {
    --text-color: #f5a524;
    --fill-color: #f5a524;
  }
}
.border {
  border: 1px solid black;
}
